.approving_notApproved
{
    display: block;
    width: 100%;
    height: 100%;
    background: url('~/Statuses/NotApproved_trans.gif') no-repeat center center;
}

.approving_notApprovedByUser
{
    display: block;
    width: 100%;
    height: 100%;
    background: url('~/Statuses/NotApprovedByUser_trans.gif') no-repeat center center;
}

.approving_rejected
{
    display: block;
    width: 100%;
    height: 100%;
    background: url('~/Statuses/Rejected_trans.gif') no-repeat center center;
}

.approving_approved
{
    display: block;
    width: 100%;
    height: 100%;
    background: url('~/Statuses/Approved_trans.gif') no-repeat center center;
}

.manage_plans_grid
{
    margin-top: 1px;
}

.operators_abbr,
.countries_abbr
{
    font-style: oblique;
    cursor: help;
}

.dataGrid .dataGrid_row .manage_plans_stars
{
    padding: 0;
}