.project_details_page .project_target_panel .handset_name
{
    font-size: 17px;
}

.project_details_page .project_target_panel .labels_block
{
    clear: left;
    padding-bottom: 5px;
}

.project_details_page .project_image
{
    position: relative;
    left: 15px;
    top: 0;
}

.project_details_page .project_target_panel .handset_details,
.project_details_page .summary_status_block .summary_details,
.project_details_page .project_target_panel .project_details
{
    font-size: 11px;
}

.project_details_page .countries_list
{
    margin-right: 1px;
    margin-left: 1px;
}

.project_details_page .operators_list
{
    margin-right: 1px;
    margin-left: 1px;
}

.project_details_page .countries_list .country_row .projectAlignment
{
    margin-left: 5px;
}

.project_details_page .countries_list .country_row
{
    color: #777;
}

.project_details_page .localMarket .operator_row
{
    color: #777;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;
}

.project_details_page .localMarket .operator_row .entity_image
{
    float: left;
    margin-right: 5px;
    background-color: #fff;
}

.project_details_page .localMarket .operator_row_selected
{
    color: #000;
    text-decoration: underline;
}

.project_details_page .localMarket .operator_row_selected .entity_image
{
    border: 1px solid #999;
}

.project_details_page .localMarket .operator_selector
{
    padding-top: 5px;
    padding-left: 5px;
}

.project_details_page .localMarket .countries_selector_title,
.project_details_page .localMarket .operators_selector_title
{
    font-size: 13px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.project_details_page .localMarket .countries_selector_title span,
.project_details_page .localMarket .operators_selector_title span
{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    color: #666;
}

.project_details_page .global_target .operator_name
{
    border-bottom: 1px solid #eee;
}

.project_details_page .global_target .operator_name .entity_image
{
    float: left;
    margin-right: 5px;
}

.project_details_page .global_target .global_countries_list .entity_image
{
    float: left;
    margin-right: 5px;
}

.project_details_page .global_target .global_countries_list .projectAlignment
{    
    margin-left: 5px;
}

.project_details_page .global_target .global_countries_list
{
    color: #666;
}

.project_details_page .local_target .country_name .entity_image
{
    float: left;
    margin-right: 5px;
}

.project_details_page a.page_top_collapser
{
    background: url("~/collapser.png") no-repeat scroll center center transparent;
}

.create_running_changes .planning_block
{
    margin-right: 3px;
    padding-left: 0;
    padding-right: 0;
}

.create_running_changes .planning_block .section
{
    padding-left: 1px;
    padding-right: 1px;
}

.create_running_changes .running_changes_content
{
    margin-bottom: 2px;
}

.create_running_changes .running_changes_content .section
{
    padding-left: 1px;
    padding-right: 1px;
}

.create_running_changes .infoBtn
{
    background-image: url("~/info.png");
    display: block;
    width: 16px;
    height: 16px;
}

.split_by_countries_page .planning_block
{
    padding: 2px;
}

.split_by_countries_page .countries_group
{
    font-size: 13px;
    color: #000;
}

.split_by_countries_page .countries_group_node
{
    border-bottom: 1px solid #eee;
}

.split_by_countries_page .countries_group_node .tree_collapser,
.split_by_countries_page .countries_group_node .tree_collapser:hover
{
    margin-top: 4px;
}

.split_by_countries_page .group_countries_not_found
{
    padding-left: 15px;
    color: #666;
}

.data_not_found_label
{
    color: #666;
}

.split_by_countries_page .country_node .entity_image
{
    float: left;
}

.add_new_group_popup
{
    padding: 5px;
}

.project_details_page .toolbar_panel
{
    border-color: #e2e2e2;
}

.detach_from_global_page .team_selector
{
    border-color: #e0e0e0;
}