{deps_dir, ["deps"]}.
{sub_dirs, ["apps/comfy_server", "apps/comfy_web", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{cover_enabled, true}.
{deps, [
	{misultin, ".*", {git, "git://github.com/ostinelli/misultin.git", "dev"}},
	{gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
	{log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", "master"}},
	{meck, ".*", {git, "git://github.com/eproxus/meck.git", "master"}},
	{sync, "0.1.*", {git, "git://github.com/rustyio/sync.git", "HEAD"}},
	{couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", "master"}}
]}.
