.notifications_page .notification_item
{
    border-color: #eee;
    cursor: pointer;
    color: #666;
}

.notifications_page .notification_item_hover
{
    background: #eee;
}

.notifications_page .notification_item_selected
{
    background: #ecc;
    color: #000;
}

.notification_page .notification_item .notification_title
{
    font-size: 11px;
    color: #666;
}

.notifications_page .notification_details .notification_title
{
    color: #000;
    font-size: 15px;
    border-color: #ddd;
}

.notifications_page .notification_details .notification_content
{
    font-size: 13px;
}

.notifications_page .notification_item .posted_by
{
    font-size: 11px;
    color: #999;
}

.notifications_page .notification_item_unread
{
    color: #000;
}

.notifications_page .notification_item_unread .posted_by
{
    color: #933;
    font-weight: bold;
}

.notifications_page .deleteButton
{
    background-image: url("~/cross.png");
    /* display: block; */
    width: 15px;
    height: 15px;  
}