.notification_settings .event_row:hover
{
    background: #eee;
}

.notification_settings .settings_header div
{
    border-color: #d2d2d2;
    font-weight: bold;
    color: #666;
}

.notification_settings .specify_mail_first
{
    color: #f00;
}