.operators_page .local_operators_block
{
    margin-right: 3px;
}

.operators_page .local_operators_block .section
{
    padding: 0;
}

.operators_page .local_operators_block .local_operator_item
{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid transparent;
}

.msie6 .operators_page .local_operators_block .local_operator_item
{
    border: 1px solid #fff;
}

.operators_page .local_operators_block .local_operator_item_hover
{
    background: #f5f5f5;
    border: 1px solid #eee;
    cursor: pointer;
}

.operators_page .local_operators_block .local_operator_item .country_name
{
    color: #666;
    float: left;
    width: 100px;
    height: 100%;
    font-size: 11px;
    text-align: right;
    padding-right: 5px;
    display: block;
    margin-top: 4px;
}

.operators_page .local_operators_block .local_operator_item .entity_image
{
    background: #fff;
    float: left;
    margin-right: 5px;
}

.operators_page .local_operators_block .local_operator_item .operator_code
{
    color: #999;
    margin-right: 5px;
    line-height: 24px;
    text-align: center;
}

.operators_page .local_operators_block .local_operator_item .operator_name
{
    line-height: 24px;
}

.operators_page .global_operators_block .section
{
    padding: 0;
}

.operators_page .global_operators_block .global_operator_item
{
    border: 1px solid transparent;
    padding: 5px;
}

.msie6 .operators_page .global_operators_block .global_operator_item
{
    border: 1px solid #fff;
}


.operators_page .global_operators_block .global_operator_item_hover
{
    border: 1px solid #eee;
    background: #f5f5f5;
    cursor: pointer;
}

.operators_page .global_operators_block .global_operator_item_selected
{
    border: 1px solid #ddd;
    background: #f0f0f0;
    cursor: pointer;
}

.operators_page .global_operators_block .global_operator_item .entity_image
{
    float: left;
    margin-right: 10px;
}

.operators_page .global_operators_block .global_operator_item .code
{
    float: right;
    display: block;
    width: 40px;
    text-align: center;
    color: #999;
    padding-left: 5px;
}

.operators_page .global_operators_block .global_operator_item .name
{
    font-size: 16px;
    line-height: 24px;
    height: 23px;
    display: block;
    margin-left: 65px;
}

.operators_page .global_operators_block .global_operator_item .operates
{
    display: block;
    font-size: 11px;
    margin-left: 65px;
}

.operators_page .subsidiary_operators_block
{
    margin-right: 3px;
}

.operators_page .subsidiary_operators_block .section
{
    padding: 0;
}

.operators_page .subsidiary_operators_block .subsidiary_operator_item
{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid transparent;
}

.msie6 .operators_page .subsidiary_operators_block .subsidiary_operator_item
{
    border: 1px solid #fff;
}


.operators_page .subsidiary_operators_block .subsidiary_operator_item_hover
{
    background: #f5f5f5;
    border: 1px solid #eee;
    cursor: pointer;
}

.operators_page .subsidiary_operators_block .subsidiary_operator_item .country_name
{
    color: #666;
    font-size: 11px;
    text-align: right;
    display: block;
}

.operators_page .subsidiary_operators_block .subsidiary_operator_item .entity_image
{
    background: #fff;
    float: left;
    margin-right: 5px;
}

.operators_page .subsidiary_operators_block .subsidiary_operator_item .operator_code
{
    display: block;
    color: #999;
    margin-right: 5px;
    line-height: 24px;
    text-align: center;
}

.operators_page .subsidiary_operators_block .subsidiary_operator_item .operator_name
{
    line-height: 24px;
}