.user_management_content
{
    padding-right: 5px;
}

.user_management_page .roles_panel
{
    margin-right: 3px;
}

.user_management_page .users_list .user_link
{
    display: block;
    overflow: hidden;
    padding: 5px 3px;
    text-decoration: none;
    cursor: pointer;
}

.user_management_page .users_list .user_link:hover
{
    background: #f5f5f5;
}

.user_management_page .users_list .user_link:active,
.user_management_page .users_list .user_link:focus
{
    background: #eee;
}

.user_management_page .users_list .user_link .user_name
{
    margin-left: 30px;
    display: block;
}

.user_management_page .users_list .user_link .user_login
{
    margin-left: 30px;
    display: block;
    color: #999;
    font-size: 10px;
}

.user_management_page .users_list .user_link .entity_image
{
    float: left;
}

.user_management_page .users_not_found
{
    color: #777;
    padding: 5px;
    display: block;
    font-style: italic;
}

.add_new_user_popup
{
    padding: 5px;
}

.constraints_edit_page .operators_panel
{
    margin-right: 3px;
}