html, body, form, h1, h2, h3, h4, h5, div, span
{
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: 0;
}

textarea
{
    resize: none;
}

html, body
{
    cursor: default;
}

a, a span
{
    cursor: pointer;
}

input,
textarea
{
    margin: 0;
    padding: 2px;
    border: 1px solid #bbb;
    font-size: 12px;
    outline: 0;
    background: #fff;
    font-family: "Trebuchet MS";
}

input.watermark,
textarea.watermark
{
    color: #999;
}

html, body
{
    height: 100%;
    width: 100%;
    background: #c9c9c9 url("~/Master/background_top.png") repeat-x top left;
    overflow: hidden;
    font-size: 12px;
    font-family: "Trebuchet MS";
    color: #fff;
}

a
{
    color: #666;
    text-decoration: underline;
    outline: 0;
}

a:hover, a:focus, a:active
{
    color: #000;
}

a img
{
    border: 0;
}

.msie a
{
    ie-dummy: expression(this.hideFocus=true);
}

.normalLoading
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 274px;
    height: 144px;
    margin-left: -137px;
    margin-top: -72px;
    background: url("~/Master/loading_logo.png") no-repeat center center;    
    line-height: 100px;
    text-align: center;
    color: #fff;
    z-index: 30000;
}

.oldBrowserloading
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 414px;
    height: 324px;
    margin-left: -207px;
    margin-top: -72px;
    background: url("~/Master/outdated.gif") no-repeat center center;    
    text-align: center;
    color: #fff;
    z-index: 30000;
}

.normalLoading img
{
    position: absolute;
    left: 72px;
    top: 120px;
    color: #fff;
}

.oldBrowserloading img
{
    position: absolute;
    left: 143px;
    top: 120px;
    color: #fff;
}

.oldBrowserloading #ieText
{
    margin: 30px;
    text-align: center;    
    margin-top: 160px;
    color: #fff;
}

.oldBrowserloading #ieText #warning
{
    font-weight: bolder;
    font-size: larger;
}

.oldBrowserloading #ieText #ieLink
{
    position: absolute;
    text-align: left;
    left: 85px;
    bottom: 25px;    
}

.oldBrowserloading #ieText #chromeLink
{
    position: absolute;
    text-align: left;
    right: 35px;
    bottom: 25px;    
}

.oldBrowserloading #ieText .browserLink
{
    color: #C05C36;
}

.oldBrowserloading #ieText .browserLink .browserName
{
    font-weight: bolder;
}

img.loading
{
    background: #000 url("~/Master/image_loading.gif") center center no-repeat;
}

div.loading
{
    height: 25px;
    background: #000 url("~/Master/image_loading.gif") center center no-repeat;
}

div.entity_image_loading
{
    background: #fff url("~/Master/image_loading_white.gif") center center no-repeat;
}

img.loading_error
{
    background: #666;
}

div.loading_error
{
    height: 25px;
    background: #666;
}

.page_top_info
{
    background: #7e7e7e url("~/Master/page_nav_top_corner.png") no-repeat bottom right;
    overflow: hidden;
    zoom: 1;
    color: #fff;
    padding-right: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.page_top_info .r_corner
{
    overflow: hidden;
    zoom: 1;
    height: 22px;
    padding-top: 5px;
    background: url("~/Master/page_nav_top_corner.png") no-repeat top left;
    padding-left: 10px;
}

.page_top_info .clock
{
    background-position: left 3px;
}

.page_top_info .clock .entity_image
{
    border: 1px solid #666;
}

.site_header .page_top_nav
{
    text-align: right;
    padding-right: 5px;
}

.site_header .page_top_nav a
{
    color: #ccc;
    margin-right: 5px;
    margin-left: 5px;
}

.site_header .page_top_nav a:hover,
.site_header .page_top_nav a:active,
.site_header .page_top_nav a:focus
{
    color: #fff;
}

#appContainer
{
    height: 100%;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.master_page
{
    padding-top: 5px;
}

.form_label
{
    color: #666;
}

a.page_top_collapser
{
    display: block;
    height: 5px;
    width: 100%;
    font-size: 1px;
    text-decoration: none;
    overflow: hidden;
    text-indent: -1000px;
    background: url('~/Master/collapser.png') no-repeat center center;
}

a.page_top_collapser:hover
{
    background-position: center top;
}

a.page_top_collapser_collapsed:hover
{
    background-position: center bottom;
}

.align_center
{
    text-align: center;
}

.error_403_page .not_authorized_error
{
    font-size: 13px;
    display: block;
    padding: 10px;
}

.data_not_found_label
{
    display: block;
    color: #666;
}

.site_header .page_top_nav a.helpLink_unreaded
{
    color: #f00;
}

.site_header .page_top_nav a.helpLink_unreaded:hover
{
    color: #fff;
}

.red_label
{
    color: #f00;
}

.red_light_icon,
.yellow_light_icon,
.green_light_icon,
.red_light_icon_selected,
.yellow_light_icon_selected,
.green_light_icon_selected
{
	background: url("~/Master/trafficLights.png") no-repeat;
}

.red_light_icon
{
    background-position: 5px 5px;
}

.yellow_light_icon
{
    background-position: 5px -25px;
}

.green_light_icon
{
    background-position: 5px -55px;
}

.red_light_icon_selected
{
    background-position: 3px 2px;
}

.yellow_light_icon_selected
{
    background-position: 3px -28px;
}

.green_light_icon_selected
{
    background-position: 3px -58px;
}