.welcome_master_page
{
    background: url('~/Welcome/logo.png') no-repeat 0px 10px;    
}

.welcome_page_container
{
    padding-top: 39px;
    background: url('~/Welcome/welcome.png') no-repeat center top;        
}